{% extends "base.html" %}

{% block head %}
	{{super()}}
	<link rel="stylesheet" href="/static/form.css" />
{% endblock %}

{% block content %}
	<p>
		View the previous titles of a Wikipedia/Wikimedia article with details about when it was moved.
	</p>
	<form action="/get">
		<input placeholder="Project" name="project"{% if page %} value="{{project}}"{% endif %} />
		<input placeholder="Page" name="page"{% if page %} value="{{page}}"{% endif %} />
		<input type="submit" value="Submit" />
	</form>
{% endblock %}