body {
	font-family: sans-serif;
	margin: 8px min(100px, 10vw);
}

a {
	text-decoration: none;
}

body > *,
main > *,
article > * {
	margin: 1rem 0 0 0;
}

h1 > a {
	color: black;
}

@media (max-width: 400px) {
	body {
		margin: 8px 1rem;
	}
}